.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
}

.loader>div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.loader>div:nth-child(2) {
    background-color: #af7c7c;
    border: 3.9px solid #af7c7c;
    box-shadow: 0 0 10px #af7c7c;
    filter: blur(0.4px);
}

.loader>div:nth-child(2) {
    
    background: linear-gradient(195deg,
         #836666,
         #aa9090);
    animation: move 0.8s linear infinite;
}

@keyframes move {
    100% {
        transform: rotate(360deg);
    }
}