.loader {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 5;


}

.loader>div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.loader>div:nth-child(2) {
    z-index: 2;
    background-color: #C94E09;
    border: 4px solid #C94E09;
    box-shadow: 0 0 10px #c94e09;
    

}

.loader>div:nth-child(2) {
    z-index: 1;
    filter: blur(0.2px);
    background: linear-gradient(135deg,
            #C94E09,
            red);
    animation: move 2s linear infinite;

}

@keyframes move {
    60% {
        transform: rotate(360deg);
    }

}