.albumDiv {
    right: 0;
    top: 80px;
    width: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}

.albumDiv, .categories {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 16px;
    margin: 16px 16px;
    grid-gap: 8px;
    padding: 8px;
    top: 80px;
    height: 80%;
}

.categories {
    left: 0;
    width: 25%;
    justify-content: flex-start;
}

.homeDiv {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.albumDiv:hover{
    background: linear-gradient(to bottom, #836666, black);
    transition-delay: 0.9s;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 6px;
}

img {
    max-width: 150px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 16px;
    box-sizing: border-box;
}

img:hover {
    transition: 0.5s;
    scale: 1.2;
    border: 2px solid #aa9090;
    box-shadow: 0 0 10px #aa9090;
}

h2 {
    color: aliceblue;
    padding: 0 16px;
}

.categories:hover{
    background: linear-gradient(to bottom, #836666, black);
    transition-delay: 0.9s;
}