.albumDiv {
    right: 0;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    gap: 2%;

}

.hDiv {
    color: white;
}


.imgDiv {
    padding-top: 16px;
    width: 150px;
    height: auto;
    white-space: normal;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.pDiv {
    font-weight: 700;
    cursor: pointer;
}

.hDiv {
    font-weight: 300;
    cursor: pointer;
}

.pDiv,
.hDiv {
    color: #dddddd;
    max-width: 130px;
    text-align: center;
    font-size: 100%;
    box-sizing: content-box;
    padding-top: 5%;
    

}

.albumDiv:hover {
    background: linear-gradient(to bottom, #836666, black);
    transition-delay: 0.9s;
}

.albumDiv,
.categoriesDiv {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 16px;
    margin: 1%;
    padding: 0%;
    height: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.categoriesDiv {
    left: 0%;
    padding: 0 1%;
    width: 20vw;
    align-items: center;
}


::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 6px;
}

img {
    max-width: 150px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 16px;
}

img:hover {
    border: 2px solid #aa9090;

}
.imgDiv:hover{
    box-sizing: border-box;
    transition: 0.5s;
    scale: 1.1;
}
.pDiv,
img:hover {
    box-sizing: border-box;
    


}

.texto1,
.texto2,
.texto3,
.texto4 {
    border: 2px solid #1a1a1a;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 150%;
    font-weight: 900;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.texto1 {
    background-color: #D04445;
}

.texto2 {
    background-color: #4258A1;
}

.texto3 {
    background-color: #FBA16C;
}

.texto4 {
    background-color: #6cfb92;
}


.texto1:hover,
.texto2:hover,
.texto3:hover,
.texto4:hover {
    cursor: pointer;
    background-color: #121212;
}

.texto1:hover {
    border: 2px solid #D04445;
}

.texto2:hover {
    border: 2px solid #4258A1;
}

.texto3:hover {
    border: 2px solid #FBA16C;
}

.texto4:hover {
    border: 2px solid #6cfb92;
}