.searchSvg {
    fill: #2a2a2a;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateY(-50%);
    left: 25px;
}

.searchSvg:hover {
    fill: #6a6a6a;
    filter: brightness(1.5);
    transition: 0, 9s;
}